In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
def load_data():
    path = 'files/olympics.csv'
    df = pd.read_csv(path,skiprows=1)
    df.columns = ['Country','# Summer','Gold','Silver','Bronze','Total','#Winter','Gold','Silver','Bronze','Total','#Games','Gold','Silver','Bronze','Combined total']
    new_col = df.Country.str.split('(').str.get(1).str.translate(None, ",!.; -@!%^&*)(").str.split('[').str.get(0)
    df.insert(loc=0, column='Code', value=new_col)
    df.index = df.Country.str.split('(').str.get(0)
    del df['Country']
    del df['Total']
    return df

df = load_data()

In [6]:
def first_country(df):
    return df.iloc[0]
    
first_country(df)['# Summer']

13L

In [8]:
def gold_medal(df):
    return df['Gold'].iloc[:-1,0].idxmax()

gold_medal(df)

'United States\xc2\xa0'

In [9]:
def biggest_difference_in_gold_medal(df):
    diff = df['Gold'].iloc[:-1,0] - df['Gold'].iloc[:-1,1]
    return diff.idxmax()
    
biggest_difference_in_gold_medal(df)

'United States\xc2\xa0'

In [10]:
def get_points(df):
    gold_points =  df['Gold'].iloc[:-1,2]*3
    silver_points =  df['Silver'].iloc[:-1,2]*2
    bronze_points =  df['Bronze'].iloc[:-1,2]*1
    total_points = gold_points + silver_points +bronze_points
    df['Points'] = total_points
    return total_points

get_points(df)

Country
Afghanistan                             2
Algeria                                27
Argentina                             130
Armenia                                16
Australasia                            22
Australia                             923
Austria                               569
Azerbaijan                             43
Bahamas                                24
Bahrain                                 1
Barbados                                1
Belarus                               154
Belgium                               276
Bermuda                                 1
Bohemia                                 5
Botswana                                2
Brazil                                184
British West Indies                     2
Bulgaria                              411
Burundi                                 3
Cameroon                               12
Canada                                846
Chile                                  24
China                                1120
Colombia                               29
Costa Rica                              7
Ivory Coast                             2
Croatia                                67
Cuba                                  420
Cyprus                                  2
                                     ...
Spain                                 268
Sri Lanka                               4
Sudan                                   2
Suriname                                4
Sweden                               1217
Switzerland                           630
Syria                                   6
Chinese Taipei                         32
Tajikistan                              4
Tanzania                                4
Thailand                               44
Togo                                    1
Tonga                                   2
Trinidad and Tobago                    27
Tunisia                                19
Turkey                                191
Uganda                                 14
Ukraine                               220
United Arab Emirates                    3
United States                        5684
Uruguay                                16
Uzbekistan                             38
Venezuela                              18
Vietnam                                 4
Virgin Islands                          2
Yugoslavia                            171
Independent Olympic Participants        4
Zambia                                  3
Zimbabwe                               18
Mixed team                             38
Length: 146, dtype: int64